body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: calc(100vh - 28px);
}

* {
    box-sizing: border-box;
}

.video-container {
    padding: 10px;
    border-radius: 10px;
    scrollbar-width: none;
    height: 100vh;
}

video{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.action-container{
    height: 12rem;
    width: 5rem;
    /* background-color: lightblue; */
    position: absolute;
    top:calc((100vh - 12rem) / 2);
    right: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.action-container > *{
    width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content:center;
    align-items: center;
}

.record-btn{
 background-color: red;
 height: 3rem;
 width: 3rem;
 border-radius: 50%;   
}

.capture-btn{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;   
}

.scale-record{
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes scale-record{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform:scale(1.1);
    }
}

.scale-capture{
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration:1s;
}

@keyframes scale-capture{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform:scale(1.1);
    }
}